html {
    overflow-x: hidden;
    height: 100%;
}
body {
   background-color: rgb(241,241,241);
   position: absolute;
   margin: 0;
   background-size: 100%;
   height: 100%;
   width: 100%;
}
@font-face {
    font-family: Comfortaa-Regular;
    src: url('../fonts/Comfortaa-Regular.ttf');
}
#main {
   display: flex;
   width: 100%;
}

#forPageRoute {
   width: 60%;
   margin-top: 2vh;
   margin-left: 20%;
   margin-right: 20%;
}
#forPageLogin {
   position: relative;
   margin-top: 5%;
   width: 100%;
   text-align: center;
}
p {
   font-size: 14px;
   font-family: Comfortaa-Regular;
}
#passwordInput, #loginInput, #submitInput {
   font-size: 1em;
   font-family: Comfortaa-Regular;
   border-radius: 7px;
}
#passwordInput, #loginInput {
   height: 20px;
   width: 150px;
   border: 1px solid rgb(114,183,157);
}
#submitInput {
   margin: auto;
   display: block;
   margin-top: 10px;
}
.SErrorText {
   color: red
}
#listAndMap {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   /* width: 100%; */
   margin-top: 10px;
}
#user {
   font-family: Comfortaa-Regular;

}
#forLoginAndLogout {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: flex-end;
}
#map {
   position: relative;
   height: 70vh;
   width: 50vw;
   border: 1px solid rgb(114,183,157);
   background-color: rgb(234,233,231);
}
#listContainer {
   display:flex;
   flex-direction: column;
}
#mapContainer {
   display:flex;
   flex-direction: column;
}
#list {
   text-align: center;
   height: 10vh;
   width: 200px;
   border: 1px solid rgb(114,183,157);
   margin-right: 40px;
   background-color: rgb(234,233,231);
}
#text_map {
   text-align: center;
}

#checkStore, #addList, label, span {
   font-family: Comfortaa-Regular;
}

#addList {
   margin: 1vh 0 0 1vw;
}
#checkStore {
   margin-left: 100px;
}
div#popap {
   position: absolute;
	top: 2vh;
	left: 30vw;
	z-index: 100;
   width: 40vw;
   min-width: 270px;
   background-color: rgb(241,241,241);
}
div#layout {
	position: absolute;
	top: 0;
	left: 0;
	opacity:0.9;
	background-color: rgb(90,90,90);
	z-index: 50;
	width: 100vw;
	height: 100vh;
}
img#imgClose {
   position: relative;
   top: 1vh;
	left: 70vw;
}
img#imgClose:hover {
   cursor: pointer;
}
#content {
	display: flex;
   flex-direction: column;
   align-items: left;
}
#searchProduct {
   margin-top: 10px;
   margin-left: 10px;
   width: 200px;
}
#menu {
   margin-top: 10px;
   margin-left: 10px;
   width: 200px;
}
.divStore1 {
   position: absolute;
   border: 1px solid;
   text-align: center;
}
.enterStore1 {
   top: 65vh;
   left: 30vw;
   width: 5vw;
   height: 3vh;
}
.cashbox1Store1 {
   left: 18vw;
   top: 55vh;
   width: 6vw;
   height: 3vh;
}
.cashbox2Store1 {
   left: 18vw;
   top: 50vh;
   width: 6vw;
   height: 3vh;
}
.milkStore1 {
   left: 35vw;
   top: 50vh;
   width: 10vw;
   height: 5vh;
}
.sausageStore1 {
   writing-mode: tb-rl;
   left: 45vw;
   top: 29vh;
   width: 3vw;
   height: 20vh;
}
.cannedStore1 {
   left: 35vw;
   top: 17vh;
   width: 5vw;
   height: 3vh;
}
.meatStore1 {
   writing-mode: tb-rl;
   left: 45vw;
   top: 7vh;
   width: 3vw;
   height: 20vh;
}
.breadStore1{
   left: 15vw;
   top: 1vh;
   width: 9vw;
   height: 5vh;
}
.bakalStore1 {
   left: 25vw;
   top: 1vh;
   width: 20vw;
   height: 5vh;
}
.fruitStore1{
   left: 25vw;
   top: 20vh;
   width: 10vw;
   height: 10vh;
}
.vegetablesStore1 {
   left: 15vw;
   top: 20vh;
   width: 10vw;
   height: 10vh;
}
.drinksStore1 {
   left: 2vw;
   top: 1vh;
   width: 12vw;
   height: 5vh;
}
.exitStore1{
   top: 65vh;
   left: 25vw;
   width: 5vw;
   height: 3vh;
}
.childrenStore1 {
   writing-mode: tb-rl;
   left: 2vw;
   top: 7vh;
   width: 3vw;
   height: 20vh;
}
.forHomeStore1 {
   writing-mode: tb-rl;
   left: 2vw;
   top: 29vh;
   width: 3vw;
   height: 25vh;
}
.alcoStore1 {
   left: 2vw;
   top: 58vh;
   width: 13vw;
   height: 3vh;
}
.enterStore2 {
   left: 10vw;
   top: 65vh;
   width: 10vw;
   height: 3vh;
}
.exitStore2 {
   left: 34vw;
   top: 2vh;
   width: 12vw;
   height: 3vh;
}
.breadStore2 {
   writing-mode: tb-rl;
   left: 2vw;
   top: 35vh;
   width: 3vw;
   height: 25vh;
}
.bakalStore2 {
   left: 23vw;
   top: 55vh;
   width: 23vw;
   height: 5vh;
}
.sausageStore2 {
   left: 23vw;
   top: 46vh;
   width: 23vw;
   height: 5vh;
}
.cannedStore2 {
   left: 23vw;
   top: 35vh;
   width: 15vw;
   height: 6vh;
}
.cashbox1Store2 {
   left: 34vw;
   top: 8vh;
   width: 5vw;
   height: 3vh;
}
.cashbox2Store2{
   left: 41vw;
   top: 8vh;
   width: 5vw;
   height: 3vh;
}
.meatStore2 {
   writing-mode: tb-rl;
   left: 43vw;
   top: 20vh;
   width: 3vw;
   height: 22vh;
}
.fruitStore2 {
   left: 8vw;
   top: 48vh;
   width: 10vw;
   height: 10vh;
}
.vegetablesStore2{
   left: 8vw;
   top: 35vh;
   width: 10vw;
   height: 10vh;
}
.alcoStore2 {
   left: 18vw;
   top: 14vh;
   width: 13vw;
   height: 3vh;
}
.milkStore2 {
   left: 23vw;
   top: 23vh;
   width: 15vw;
   height: 8vh;
}
.drinksStore2 {
   writing-mode: tb-rl;
   left: 13vw;
   top: 14vh;
   width: 3vw;
   height: 15vh;
}
.forHomeStore2{
   writing-mode: tb-rl;
   left: 2vw;
   top: 14vh;
   width: 3vw;
   height: 20vh;
}
.childrenStore2 {
   writing-mode: tb-rl;
   left: 8vw;
   top: 14vh;
   width: 3vw;
   height: 15vh;
}
#listProducts {
   margin-left: 0.6vw;
   margin-top: 0.3vh;
   margin-bottom: 1vh;
   font-family: Comfortaa-Regular;
   width: 20vw;
   background-color: rgb(114,183,157);
}
#listProducts tr {
   border-bottom: 1px solid;
}
#ready {
   font-family: Comfortaa-Regular;
   margin: auto;
   width: 100px;
}
#clearList {
   margin: 1vh 0 0 1vw;
}
#hint {
   z-index: 200;
   writing-mode: lr-tb;
   position: relative;
   background-color: rgba(163,163,163,0.9);
}
.spinner {
   margin-left: 48vw;
   margin-top: 45vh;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: black transparent black transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 700px) {
   #listAndMap {
      flex-direction: column;
   }
   #forPageRoute {
      width: 100%;
      margin: 0 0 0 2px;
   }
   #map {
      width: 100%;
   }
   .enterStore1 {
      top: 65vh;
      left: 60vw;
      width: 10vw;
      height: 3vh;
   }
   .cashbox1Store1 {
      left: 37vw;
      top: 55vh;
      width: 15vw;
      height: 3vh;
   }
   .cashbox2Store1 {
      left: 37vw;
      top: 50vh;
      width: 15vw;
      height: 3vh;
   }
   .milkStore1 {
      left: 70vw;
      top: 50vh;
      width: 20vw;
      height: 5vh;
   }
   .sausageStore1 {
      writing-mode: tb-rl;
      left: 87vw;
      top: 29vh;
      width: 10vw;
      height: 20vh;
   }
   .cannedStore1 {
      left: 65vw;
      top: 17vh;
      width: 17vw;
      height: 3vh;
   }
   .meatStore1 {
      writing-mode: tb-rl;
      left: 87vw;
      top: 7vh;
      width: 10vw;
      height: 20vh;
   }
   .breadStore1{
      left: 27vw;
      top: 1vh;
      width: 30vw;
      height: 5vh;
   }
   .bakalStore1 {
      left: 60vw;
      top: 1vh;
      width: 35vw;
      height: 5vh;
   }
   .fruitStore1{
      left: 45vw;
      top: 20vh;
      width: 20vw;
      height: 15vh;
   }
   .vegetablesStore1 {
      left: 25vw;
      top: 20vh;
      width: 20vw;
      height: 15vh;
   }
   .drinksStore1 {
      left: 2vw;
      top: 1vh;
      width: 22vw;
      height: 5vh;
   }
   .exitStore1{
      top: 65vh;
      left: 50vw;
      width: 10vw;
      height: 3vh;
   }
   .childrenStore1 {
      writing-mode: tb-rl;
      left: 2vw;
      top: 7vh;
      width: 10vw;
      height: 20vh;
   }
   .forHomeStore1 {
      writing-mode: tb-rl;
      left: 2vw;
      top: 29vh;
      width: 10vw;
      height: 25vh;
   }
   .alcoStore1 {
      left: 2vw;
      top: 55vh;
      width: 30vw;
      height: 7vh;
   }
   img#imgClose {
      left: 90%;
   }
   div#popap {
      left: 0;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
   }
   .enterStore2 {
      left: 25vw;
      top: 65vh;
      width: 15vw;
      height: 3vh;
   }
   .exitStore2 {
      left: 70vw;
      top: 2vh;
      width: 20vw;
      height: 3vh;
   }
   .breadStore2 {
      writing-mode: tb-rl;
      left: 2vw;
      top: 35vh;
      width: 8vw;
      height: 25vh;
   }
   .bakalStore2 {
      left: 45vw;
      top: 55vh;
      width: 50vw;
      height: 5vh;
   }
   .sausageStore2 {
      left: 45vw;
      top: 46vh;
      width: 50vw;
      height: 5vh;
   }
   .cannedStore2 {
      left: 45vw;
      top: 35vh;
      width: 30vw;
      height: 6vh;
   }
   .cashbox1Store2 {
      left: 60vw;
      top: 8vh;
      width: 15vw;
      height: 3vh;
   }
   .cashbox2Store2{
      left: 77vw;
      top: 8vh;
      width: 15vw;
      height: 3vh;
   }
   .meatStore2 {
      writing-mode: tb-rl;
      left: 85vw;
      top: 20vh;
      width: 10vw;
      height: 22vh;
   }
   .fruitStore2 {
      left: 12vw;
      top: 48vh;
      width: 23vw;
      height: 10vh;
   }
   .vegetablesStore2{
      left: 12vw;
      top: 35vh;
      width: 23vw;
      height: 10vh;
   }
   .alcoStore2 {
      left: 35vw;
      top: 14vh;
      width: 25vw;
      height: 3vh;
   }
   .milkStore2 {
      left: 45vw;
      top: 23vh;
      width: 30vw;
      height: 8vh;
   }
   .drinksStore2 {
      writing-mode: tb-rl;
      left: 22vw;
      top: 14vh;
      width: 8vw;
      height: 15vh;
   }
   .forHomeStore2{
      writing-mode: tb-rl;
      left: 2vw;
      top: 14vh;
      width: 8vw;
      height: 20vh;
   }
   .childrenStore2 {
      writing-mode: tb-rl;
      left: 12vw;
      top: 14vh;
      width: 8vw;
      height: 15vh;
   }
}
