html {
    overflow-x: hidden;
    height: 100%;
}
@font-face {
    font-family: Comfortaa-Regular;
    src: url('../fonts/Comfortaa-Regular.ttf');
}
#main {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}
p {
   font-size: 16px;
   font-family: Comfortaa-Regular;
}
#passwordInput, #loginInput, #submitInput {

   font-family: Comfortaa-Regular;
   border-radius: 50px;
}
#passwordInput, #loginInput {
   border: 1px solid;
   height: 20px;
   width: 150px;
}
#submitInput {
   margin: auto;
   display: block;
   margin-top: 10px;
   background-color: rgb(77,170,233);
}
.SErrorText {
   color: red
}
